/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

/* ------------------ Google Noto Sans ------------------------ */

@import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=VT323&display=swap";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 8em;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  height: calc(100vh - 8em);
}

.skin-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--_bg);
  flex-basis: 50%;
  overflow: scroll;
  height: 100%;
}

.skin-show {
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.skin-show img {
  margin: var(--size-6);
  object-fit: contain;
  flex-grow: 1;
  image-rendering: pixelated;
}

.skin-show p {
  padding-bottom: var(--size-6);
}

.hidden {
  display: none;
}

.link-button {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  border: 0;
  display: inline;
  background-color: inherit;
}

.skin-button {
  width: 256px;
  height: 256px;
  margin: 0.5em;
  padding: 0.5em 0.25em;
  display: flex;
  flex-flow: column nowrap;
}

.skin-button img {
  flex-grow: 1;
  image-rendering: pixelated;
}

.skin-button p {
  margin: 0.5em 0 0 0;
  text-align: center;
}

/* drop area shenanigans */
#app-drop-area {
  position: absolute;
  z-index: -1;
}
