/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

/* ------------------ Google Noto Sans ------------------------ */

@import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=VT323&display=swap";

/* ------------------------------------------------------------ */

html {
  /* light */
  --brand-light: var(--orange-6);
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;

  /* dark */
  --brand-dark: var(--orange-3);
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
  --surface-shadow-dark: var(--gray-12-hsl);
  --shadow-strength-dark: 80%;

  /* dim */
  --brand-dim: var(--orange-4);
  --text-1-dim: var(--gray-3);
  --text-2-dim: var(--gray-4);
  --surface-1-dim: var(--gray-8);
  --surface-2-dim: var(--gray-7);
  --surface-3-dim: var(--gray-6);
  --surface-4-dim: var(--gray-5);
  --surface-shadow-dim: var(--gray-9-hsl);
  --shadow-strength-dim: 20%;
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }

  svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(343deg) brightness(103%) contrast(101%);
  }
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 8em;

  a {
    margin: 0 var(--size-4);
  }

  .filler {
    flex-grow: 1;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  height: calc(100vh - 8em);
}

.skin-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--_bg);
  flex-basis: 50%;
  overflow: scroll;
  height: 100%;
}

.skin-show {
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.skin-show img {
  margin: var(--size-6);
  object-fit: contain;
  flex-grow: 1;
  image-rendering: pixelated;
}

.skin-show p {
  margin: var(--size-5);
}

.skin-show-controls {
  padding: var(--size-4) var(--size-6);
  display: flex;
  flex-flow: row nowrap;
  gap: var(--size-2);
}

.hidden {
  display: none;
}

.link-button {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  border: 0;
  display: inline;
  background-color: inherit;
}

.skin-button {
  width: 256px;
  height: 256px;
  margin: 0.5em;
  padding: 0.5em 0.25em;
  display: flex;
  flex-flow: column nowrap;
}

.skin-button img {
  flex-grow: 1;
  image-rendering: pixelated;
}

.skin-button p {
  margin: 0.5em 0 0 0;
  text-align: center;
}

.drop-area {
  background-color: var(--surface-3);
  padding: var(--size-1) var(--size-3);
  border: 2px solid var(--surface-3);
  border-radius: 8px;
  margin: 0 var(--size-3);
}

.drop-area p {
  margin: 0;
  padding: 0;
}
